/*
  plugin style
*/


/* Admin.php */

.order-div {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.show-items {
    cursor: pointer;
}

.admin-order-wrapper {
    display: flex;
}

.order-status--blue {
    color: blue;
}

.order-status--green {
    color: green;
}

.order-status--red {
    color: red;
}


/* order-widget.php */

.total-price {
    width: 35%;
    border-top: 1px black solid;
}

.delete {
    background: none;
    border: none;
    text-decoration: none;
    margin-left: 10px;
    padding: 0;
}

.delete:hover {
    background: none !important;
}

.cart {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.cart_item {
    margin: 0;
}