/*
  plugin style
*/


/* Admin.php */

.order-div {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.show-items {
    cursor: pointer;
}

.admin-order-wrapper {
    display: flex;
}

.order-status--blue {
    color: blue;
}

.order-status--green {
    color: green;
}

.order-status--red {
    color: red;
}


/* order-widget.php */

.total-price {
    width: 10%;
    border-top: 1px black solid;
}

.widget_ow_order {
    padding: 40px;
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90vw;
    top: 0;
    position: fixed;
    z-index: 3;
    margin-left: 1500px;
}

.cartis{
    padding: 40px;
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90vw;
    top: 0;
    position: fixed;
    z-index: 3;
    margin-left: 1500px;
}